In [1]:
import pandas as pd

In [2]:
df_fake = pd.read_csv("Fake.csv")
df_true = pd.read_csv("True.csv")

In [3]:
df_fake.head(10)

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017"
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017"
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017"
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017"
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017"

In [4]:
df_true.head(10)

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
5,"White House, Congress prepare for talks on spe...","WEST PALM BEACH, Fla./WASHINGTON (Reuters) - T...",politicsNews,"December 29, 2017"
6,"Trump says Russia probe will be fair, but time...","WEST PALM BEACH, Fla (Reuters) - President Don...",politicsNews,"December 29, 2017"
7,Factbox: Trump on Twitter (Dec 29) - Approval ...,The following statements were posted to the ve...,politicsNews,"December 29, 2017"
8,Trump on Twitter (Dec 28) - Global Warming,The following statements were posted to the ve...,politicsNews,"December 29, 2017"
9,Alabama official to certify Senator-elect Jone...,WASHINGTON (Reuters) - Alabama Secretary of St...,politicsNews,"December 28, 2017"

In [5]:
df_fake.shape

(23481, 4)

In [6]:
df_true.shape

(21417, 4)

In [7]:
df_fake["class"]=0

In [8]:
df_true["class"] = 1

In [9]:
df_fake.head()

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [10]:
df_true.head()

,title,text,subject,date,class
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [11]:
df_merge_file = pd.concat([df_fake,df_true],axis = 0)#axis=0 row-wise

In [12]:
df_merge_file.head(10)

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017",0
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017",0
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017",0
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017",0
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017",0

In [13]:
df_merge_file.tail(10)

,title,text,subject,date,class
21407,"Mata Pires, owner of embattled Brazil builder ...","SAO PAULO (Reuters) - Cesar Mata Pires, the ow...",worldnews,"August 22, 2017",1
21408,"U.S., North Korea clash at U.N. forum over nuc...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
21409,"U.S., North Korea clash at U.N. arms forum on ...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
21410,Headless torso could belong to submarine journ...,COPENHAGEN (Reuters) - Danish police said on T...,worldnews,"August 22, 2017",1
21411,North Korea shipments to Syria chemical arms a...,UNITED NATIONS (Reuters) - Two North Korean sh...,worldnews,"August 21, 2017",1
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [14]:
df_merge_file.columns

Index(['title', 'text', 'subject', 'date', 'class'], dtype='object')

In [15]:
df_merge_file = df_merge_file.drop(["title","date","subject"],axis = 1)

In [16]:
df_merge_file

                                                    text  class
0      Donald Trump just couldn t wish all Americans ...      0
1      House Intelligence Committee Chairman Devin Nu...      0
2      On Friday, it was revealed that former Milwauk...      0
3      On Christmas day, Donald Trump announced that ...      0
4      Pope Francis used his annual Christmas Day mes...      0
...                                                  ...    ...
21412  BRUSSELS (Reuters) - NATO allies on Tuesday we...      1
21413  LONDON (Reuters) - LexisNexis, a provider of l...      1
21414  MINSK (Reuters) - In the shadow of disused Sov...      1
21415  MOSCOW (Reuters) - Vatican Secretary of State ...      1
21416  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...      1

[44898 rows x 2 columns]

In [17]:
df_merge_file.isnull().sum()

text     0
class    0
dtype: int64

In [18]:
df = df_merge_file.sample(frac=1)

In [19]:
df

                                                    text  class
13052  VANCOUVER (Reuters) - High-rolling gamblers wi...      1
12607  JAKARTA (Reuters) - Hardline Muslim groups in ...      1
12376  BRUSSELS (Reuters) - Rivals from the two sides...      1
8240   OXFORD, England (Reuters) - U.S. Defense Secre...      1
18210  Attorney General Jeff Sessions announced today...      0
...                                                  ...    ...
7552   Yesterday, Senator Bernie Sanders swept throug...      0
7707   Fox News veteran Bill O Reilly is being slaugh...      0
14077  Is a third place finish for Cruz a game change...      0
9858   Steve Hilton rips the great  geniuses  on fore...      0
11050  NEW YORK (Reuters) - Donald Trump was the big ...      1

[44898 rows x 2 columns]

In [20]:
df.reset_index(inplace = True)

In [21]:
df

       index                                               text  class
0      13052  VANCOUVER (Reuters) - High-rolling gamblers wi...      1
1      12607  JAKARTA (Reuters) - Hardline Muslim groups in ...      1
2      12376  BRUSSELS (Reuters) - Rivals from the two sides...      1
3       8240  OXFORD, England (Reuters) - U.S. Defense Secre...      1
4      18210  Attorney General Jeff Sessions announced today...      0
...      ...                                                ...    ...
44893   7552  Yesterday, Senator Bernie Sanders swept throug...      0
44894   7707  Fox News veteran Bill O Reilly is being slaugh...      0
44895  14077  Is a third place finish for Cruz a game change...      0
44896   9858  Steve Hilton rips the great  geniuses  on fore...      0
44897  11050  NEW YORK (Reuters) - Donald Trump was the big ...      1

[44898 rows x 3 columns]

In [22]:
df.drop(["index"],axis=1,inplace = True)

In [23]:
df

                                                    text  class
0      VANCOUVER (Reuters) - High-rolling gamblers wi...      1
1      JAKARTA (Reuters) - Hardline Muslim groups in ...      1
2      BRUSSELS (Reuters) - Rivals from the two sides...      1
3      OXFORD, England (Reuters) - U.S. Defense Secre...      1
4      Attorney General Jeff Sessions announced today...      0
...                                                  ...    ...
44893  Yesterday, Senator Bernie Sanders swept throug...      0
44894  Fox News veteran Bill O Reilly is being slaugh...      0
44895  Is a third place finish for Cruz a game change...      0
44896  Steve Hilton rips the great  geniuses  on fore...      0
44897  NEW YORK (Reuters) - Donald Trump was the big ...      1

[44898 rows x 2 columns]

In [24]:
import re
import string
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

In [25]:
def wordopt(text):
    text = text.lower()
    text = re.sub('[^a-zA-Z]', ' ', text)
    text = text.split()
    text = ' '.join(text)
    return text

In [26]:
df["text"].head(10)

0    VANCOUVER (Reuters) - High-rolling gamblers wi...
1    JAKARTA (Reuters) - Hardline Muslim groups in ...
2    BRUSSELS (Reuters) - Rivals from the two sides...
3    OXFORD, England (Reuters) - U.S. Defense Secre...
4    Attorney General Jeff Sessions announced today...
5    CARACAS (Reuters) - Venezuela s opposition cri...
6    BRASILIA (Reuters) - The new prosecutor genera...
7    WASHINGTON (Reuters) - The United States wants...
8          https://www.youtube.com/watch?v=uQbAww5wajA
9    (Reuters) - The New Black Panther Party, a “bl...
Name: text, dtype: object

In [27]:
df["text"] = df["text"].apply(wordopt)

In [28]:
df["text"]

0        vancouver reuters high rolling gamblers will f...
1        jakarta reuters hardline muslim groups in indo...
2        brussels reuters rivals from the two sides of ...
3        oxford england reuters u s defense secretary a...
4        attorney general jeff sessions announced today...
                               ...
44893    yesterday senator bernie sanders swept through...
44894    fox news veteran bill o reilly is being slaugh...
44895    is a third place finish for cruz a game change...
44896    steve hilton rips the great geniuses on foreig...
44897    new york reuters donald trump was the big winn...
Name: text, Length: 44898, dtype: object

In [29]:
x = df["text"]
y = df["class"]

In [30]:
x

0        vancouver reuters high rolling gamblers will f...
1        jakarta reuters hardline muslim groups in indo...
2        brussels reuters rivals from the two sides of ...
3        oxford england reuters u s defense secretary a...
4        attorney general jeff sessions announced today...
                               ...
44893    yesterday senator bernie sanders swept through...
44894    fox news veteran bill o reilly is being slaugh...
44895    is a third place finish for cruz a game change...
44896    steve hilton rips the great geniuses on foreig...
44897    new york reuters donald trump was the big winn...
Name: text, Length: 44898, dtype: object

In [31]:
y

0        1
1        1
2        1
3        1
4        0
        ..
44893    0
44894    0
44895    0
44896    0
44897    1
Name: class, Length: 44898, dtype: int64

In [32]:
from sklearn.feature_extraction.text import CountVectorizer

In [33]:
cv = CountVectorizer()

In [34]:
x = cv.fit_transform(x)

In [40]:
x

<44898x115465 sparse matrix of type '<class 'numpy.int64'>'
	with 9239107 stored elements in Compressed Sparse Row format>

In [41]:
x.shape

(44898, 115465)

In [42]:
y.shape

(44898,)

In [43]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25)

In [44]:
x_train.shape

(33673, 115465)

In [45]:
x_test.shape

(11225, 115465)

In [46]:
y_train.shape

(33673,)

In [47]:
y_test.shape

(11225,)

In [48]:
# from sklearn.naive_bayes import MultinomialNB

In [49]:
# model = MultinomialNB()

In [50]:
# model.fit(x_train,y_train)

In [51]:
# result = model.score(x_test,y_test)*100

In [52]:
# result

In [53]:
# import pickle

In [54]:
# pickle.dump(model,open("fake.pkl","wb"))

In [55]:
# pickle.dump(model,open("true.pkl","wb"))

In [56]:
from sklearn.linear_model import LogisticRegression

LR = LogisticRegression()
LR.fit(x_train,y_train)

C:\Users\034gu\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [57]:
pred = LR.predict(x_test)

In [58]:
LR.score(x_test,y_test)

0.9958129175946547

In [59]:
def output_lable(n):
    if n == 0:
        return "Fake News"
    elif n == 1:
        return "True news"
    
def manual_testing(news):
    testing_news = {"text":[news]}
    new_def_test = pd.DataFrame(testing_news)
    new_def_test["text"] = new_def_test["text"].apply(wordopt) 
    new_x_test = new_def_test["text"]
    new_xv_test = cv.transform(new_x_test)
    pred = LR.predict(new_xv_test)

    return print("\n\nLR Prediction: {} \n".format(output_lable(pred[0])))

In [60]:
news = str(input())
manual_testing(news)

Donald Trump Sends Out Embarrassing New Year’s Eve Message; This is Disturbing,"Donald Trump just couldn t wish all Americans a Happy New Year and leave it at that. Instead, he had to give a shout out to his enemies, haters and  the very dishonest fake news media.  The former reality show star had just one job to do and he couldn t do it. As our Country rapidly grows stronger and smarter, I want to wish all of my friends, supporters, enemies, haters, and even the very dishonest Fake News Media, a Happy and Healthy New Year,  President Angry Pants tweeted.  2018 will be a great year for America! As our Country rapidly grows stronger and smarter, I want to wish all of my friends, supporters, enemies, haters, and even the very dishonest Fake News Media, a Happy and Healthy New Year. 2018 will be a great year for America!  Donald J. Trump (@realDonaldTrump) December 31, 2017Trump s tweet went down about as welll as you d expect.What kind of president sends a New Year s greeting like this despicable, petty, infantile gibberish? Only Trump! His lack of decency won t even allow him to rise above the gutter long enough to wish the American citizens a happy new year!  Bishop Talbert Swan (@TalbertSwan) December 31, 2017no one likes you  Calvin (@calvinstowell) December 31, 2017Your impeachment would make 2018 a great year for America, but I ll also accept regaining control of Congress.  Miranda Yaver (@mirandayaver) December 31, 2017Do you hear yourself talk? When you have to include that many people that hate you you have to wonder? Why do the they all hate me?  Alan Sandoval (@AlanSandoval13) December 31, 2017Who uses the word Haters in a New Years wish??  Marlene (@marlene399) December 31, 2017You can t just say happy new year?  Koren pollitt (@Korencarpenter) December 31, 2017Here s Trump s New Year s Eve tweet from 2016.Happy New Year to all, including to my many enemies and those who have fought me and lost so badly they just don t know what to do. Love!  Donald J. Trump (@realDonaldTrump) December 31, 2016This is nothing new for Trump. He s been doing this for years.Trump has directed messages to his  enemies  and  haters  for New Year s, Easter, Thanksgiving, and the anniversary of 9/11. pic.twitter.com/4FPAe2KypA  Daniel Dale (@ddale8) December 31, 2017Trump s holiday tweets are clearly not presidential.How long did he work at Hallmark before becoming President?  Steven Goodine (@SGoodine) December 31, 2017He s always been like this . . . the only difference is that in the last few years, his filter has been breaking down.  Roy Schulze (@thbthttt) December 31, 2017Who, apart from a teenager uses the term haters?  Wendy (@WendyWhistles) December 31, 2017he s a fucking 5 year old  Who Knows (@rainyday80) December 31, 2017So, to all the people who voted for this a hole thinking he would change once he got into power, you were wrong! 70-year-old men don t change and now he s a year older.Photo by Andrew Burton/Getty Images.",News,"December 31, 2017"


LR Prediction: Fake News